<% provide(:title, "AELUCOOP - Admisión de Socios - Observaciones") %>
<%= form_with(model: observation, local: true) do |form| %>
  <% if observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(observation.errors.count, "error") %> prohibited this observation from being saved:</h2>

      <ul>
      <% observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="col-12 col-lg-12 col-md-12">
  <div class="row">
    <div class="form-group col-4 col-lg-4 col-md-4">
      <%= form.label :request_id, 'Solicitante', class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    </div>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= form.collection_select :request_id, Request.order(:id), :id, :full_name , options = {  :prompt => 'Seleccione al Solicitante'}, html_options = { class: 'select2_demo_1 form-control' } %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-4 col-lg-4 col-md-4">
      <%= form.label :observation_type_id, 'Tipo de Observación', class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    </div>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= form.collection_select :observation_type_id, ObservationType.order(:nombre), :id, :nombre , options = {  :prompt => 'Seleccione un Tipo de Observación'}, html_options = { class: 'select2_demo_1 form-control' } %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-4 col-lg-4 col-md-4">
      <%= form.label :description, "Description", class: 'col-lg-4 col-md-4 col-sm-4 control-label' %>
    </div>
    <div class='col-lg-8 col-md-8 col-sm-8'>
      <%= form.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
