<p id="notice"><%= notice %></p>

<p>
  <strong>Observation type:</strong>
  <%= @observation.observation_type_id %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @observation.description %>
</p>

<%= link_to 'Edit', edit_observation_path(@observation) %> |
<%= link_to 'Back', observations_path %>
