<p id="notice"><%= notice %></p>

<p>
  <strong>Dni:</strong>
  <%= @reniec.doi %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @reniec.last_name %>
</p>

<p>
  <strong>Second last name:</strong>
  <%= @reniec.second_last_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @reniec.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @reniec.genre %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @reniec.birthdate %>
</p>

<p>
  <strong>Birth departamento:</strong>
  <%= @reniec.birth_departamento %>
</p>

<p>
  <strong>Birth provincia:</strong>
  <%= @reniec.birth_provincia %>
</p>

<p>
  <strong>Birth distrito:</strong>
  <%= @reniec.birth_distrito %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @reniec.degree %>
</p>

<p>
  <strong>Civil state:</strong>
  <%= @reniec.civil_state %>
</p>

<p>
  <strong>Height:</strong>
  <%= @reniec.height %>
</p>

<p>
  <strong>Register:</strong>
  <%= @reniec.register %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @reniec.father_name %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @reniec.mother_name %>
</p>

<p>
  <strong>Emission date:</strong>
  <%= @reniec.emission_date %>
</p>

<p>
  <strong>Restriction:</strong>
  <%= @reniec.restriction %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @reniec.departamento %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @reniec.provincia %>
</p>

<p>
  <strong>Dsitrito:</strong>
  <%= @reniec.distrito %>
</p>

<p>
  <strong>Address:</strong>
  <%= @reniec.address %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @reniec.due_date %>
</p>

<%= link_to 'Edit', edit_reniec_path(@reniec) %> |
<%= link_to 'Back', reniecs_path %>
