<%= form_with(model: alianza, local: true) do |form| %>
  <% if alianza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alianza.errors.count, "error") %> prohibited this alianza from being saved:</h2>

      <ul>
      <% alianza.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
