<div class="title">
  <h2 class="form-title">¿Tienes hijos?</h2>
</div>
<div class='col-lg-12 col-md-12 col-12 centered-form-flex-row'>
  <div class="table-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <table class="footable table table-stripped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Fecha de Nacimiento</th>
        </tr>
      </thead>
      <tbody>
        <%= form.fields_for :dependents do |f| %>
            <tr id='content_details'>
              <td>
                <%= f.text_field :name, class: 'form-input' %>
              </td>
              <td>
                <%= f.text_field :last_name, class: 'form-input' %>
              </td>
              <td>
                <%= f.text_field :second_last_name, class: 'form-input' %>
              </td>
              <td>
                <%= f.text_field :birthdate, class: 'form-input' %>
              </td>
              <td align='center'>
                <%= f.hidden_field :_destroy %>
                <button class="btn btn-danger btn-circle remove_row_fields" type="button">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <div class='add_fields'>
      <%= link_to_add_row_fields "Añadir Dependiente", form, :dependents %>
    </div>
  </div>
</div>

