<p id="notice"><%= notice %></p>

<p>
  <strong>Bank:</strong>
  <%= @bank_account.bank_id %>
</p>

<p>
  <strong>Corriente:</strong>
  <%= @bank_account.corriente %>
</p>

<p>
  <strong>Ahorro:</strong>
  <%= @bank_account.ahorro %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
